*.annot
*.cm[ioax]
*.cmxa
*.cmxs
*.exe
*.com
.depend.ocaml
UMONS.ml
UMONS.mli
_build
*.native
*.data
*.log
src/lib/META
src/lib/weberizer.mllib
AUTHORS.txt
README.txt
INSTALL.txt
myocamlbuild.ml
setup.ml
API.docdir
API.odocl
*.tar.gz
